<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>lymcommon/DIY.zip</string>
	<string>bfl/ProductAlbumBFLLY.zip</string>
	<string>bfl/ProductInfo.zip</string>
	<string>bfl/AboutUs.zip</string>
	<string>bfl/ProductProjects.zip</string>
	<string>bfl/ProductAlbum2016.zip</string>
	<string>cxha/Certs.zip</string>
	<string>cxha/Video0.mp4</string>
	<string>cxha/Video0.png</string>
</array>
</plist>
